.topnav {
  overflow: hidden;
  background-color: #00464D;
  height: 100%;
}

.topnav a {
  float: left;
  display: block;
  height: 100%;
  color: #E8FDFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #E8FDFF;
  color: black;
}

.topnav .icon {
  display: none;
}
.userName {
    padding: 1em;
    padding-top: 1.1em;
  }
@media (max-width: 400px) {
    /* For mobile phones: */
  .userName {
    display: none;
  }
  .topnav .icon:hover {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.container {
  background-color: #8DF5FF;
  padding: 0;
}

.landing-page {
  background-color: #1BECFF;
  margin: 0;
  height: 46vh;
}
.timePage {
  background-color: #1BECFF;
  height: 46vh;
}
.timer {
  background-color: #FFF3E8;
  opacity: .8;
  color: #000;
  margin: auto;
  position: relative;
  top: -28vh;
  
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}
.clock-logo {
  max-width: 90vw;
  max-height: 90vw;
}
.logo {
  margin: auto;
  font-size: 4em;
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;  
}

.storesPage {
  margin: 0;
  padding: 0;
  height: 46vh;
  background-color: #477B7F	;
  overflow: scroll;
}

.storemap-page {
  margin: 0;
  padding: 0;
  background-color: #1BECFF;
  height: 92vh;

}
.footer {
  background-color: #00464D;
  color: #E8FDFF;
  height: 80px;
  position: relative;
}
.footer a:hover {
  background-color: #8DF5FF;
  color: #00464D;
}

.storeSearch {
  margin: auto;
}
.storeListPage {
    height: 92vh;
    overflow: scroll;
}
.about-page {
    padding: 1em;
    height: 92vh;
}
.storeListPage a:hover {
  color: #000;
  text-decoration: none;
}
.storeResult {
  border: 1px solid rgba(0,0,0,0.1);
}


.hours {
  background-color: #FFF3E8;
  width: 50px;
}
.min {
  background-color: #FFF3E8;
  width: 50px;
}
.sec {
  background-color: #FFF3E8;
  width: 50px;
}

.mapDiv {
  align-content: 'center';
  align-items: 'center';
  background:#f0f0f0;
  opacity: .9;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 1.5em;
  color: #222;
  width: 300px;
  height: 30px;
  line-height: 25px;
  border-radius: 10px;
  vertical-align: middle;
}
.endData {
  background-color: #00464D;
  height: 280px;
}
.endFeedback {
  margin: 0;
  padding: 0;
  height: 160px;
  background-color: #477b7f;
  overflow: scroll;
}
.storeButton {
  width: 100%;
  min-height: 40px;
  color:#444;
  border:1px solid #FFF3E8;
  background:#E8FDFF;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.searchBar {
  margin-top: 1em;
  width: 100%;
  background-color: #8DF5FF;
  display: inline-block;
  text-align: center;
}
.sBar {
  width: 80%;
  font-size: 27px;
}
.user-page {
  background-color: #8DF5FF; 
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

}
.user-image {
  border-radius: 50%;
}
.store-form {
  margin: 1em;
=======
=======
=======
}
.user-image {
  border-radius: 50%;
>>>>>>> parent of 95d5ea9... fixed up CSS more
}
.user-image {
  border-radius: 50%;
>>>>>>> parent of 95d5ea9... fixed up CSS more
}
.user-image {
  border-radius: 50%;
>>>>>>> parent of 95d5ea9... fixed up CSS more
}
.user-image {
  border-radius: 50%;
}
.form-input {
  
  width: 60vw;
}

.loadingScreen {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

  height: 600px;

=======
  height: 600px;
>>>>>>> parent of 95d5ea9... fixed up CSS more
=======
  height: 600px;
>>>>>>> parent of 95d5ea9... fixed up CSS more
=======
  height: 600px;
>>>>>>> parent of 95d5ea9... fixed up CSS more
}
.loadingAnimation {
  margin: 0 auto;
  position: absolute;
  left: 43vw;
  top: 50vh;
  background: url(/animated-clock.gif) no-repeat ;
  height: 10vh;
}
.loadingText {
  position: relative;
  top: 50px;
  left: 0;
}